<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC Application With Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<script src="/assets/css/burger_style.css"></script>
		<link href="assets/css/burger_style.css" rel="stylesheet">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
